<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Collector</title>
    <link href="../static/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1 class="heading1">Collecting Height</h1>
      <h3 class="heading2">
        Please fill in the population to get population statistics on height
      </h3>
      <form action="success.html" class="form" method="POST">
        <input
          type="email"
          title="Your email will be safe with us"
          placeholder="Enter your Email"
          class="input"
          name="email_name"
          required
        />
        <input
          type="number"
          min="50"
          max="300"
          title="Your data will be safe with us"
          placeholder="Enter your height"
          class="input"
          name="height"
          required
        />
        <button class="button" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
